<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/node_modules/bootstrap/dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{https://unpkg.com/swiper/swiper-bundle.css}"/>
    <link rel="stylesheet" th:href="@{https://unpkg.com/swiper/swiper-bundle.min.css}"/>
    <title>سامانه آنلاین آزمون یار</title>
</head>
<body>
<div class="container-fluid p-0 m-0">
    <div class="panel-top-navigation row d-flex justify-content-right p-3 m-0 shadow">
        <div class="">
            <h3>سامانه آنلاین</h3>
        </div>
    </div>
    <div class="row p-2 m-0">
        <div class="d-flex p-0 m-0">
            <div class="d-flex flex-column right-navigation rounded shadow">
                <div class="d-flex align-items-end justify-content-start right-navigation-header p-2 rounded-top">
                    <div class="d-flex flex-column justify-content-start">
                        <img class="right-navigation-header-profile-image" th:src="@{/img/profile-white.svg}"/>
                        <p class="right-navigation-header-text">علی نجفی</p>
                    </div>
                </div>
                <div class="right-navigation-list-container p-2">
                    <div class="right-navigation-list-inner-container d-flex justify-content-start p-2">
                        <img class="right-navigation-list-icons" th:src="@{/img/home.svg}">
                        داشبورد
                    </div>
                    <div class="right-navigation-list-inner-container d-flex justify-content-start p-2">
                        <img class="right-navigation-list-icons" th:src="@{/img/teacher-vector.svg}">
                        اساتید
                    </div>
                    <div class="right-navigation-list-inner-container d-flex justify-content-start p-2">
                        <img class="right-navigation-list-icons" th:src="@{/img/profile.svg}">
                        دانش آموزان
                    </div>
                    <div class="right-navigation-list-inner-container list-end d-flex justify-content-start p-2">
                        <img class="right-navigation-list-icons" th:src="@{/img/book.svg}">
                        دروس
                    </div>
                </div>
            </div>
            <div class="left">
                <div class="d-flex justify-content-around">
                    <div class="analytic-box">
                        تعداد دانش آموزان ثبت نام کرده:
                        <p class="analytic-text"></p>
                    </div>
                    <div class="analytic-box">
                        تعداد دانش آموزان ثبت نام کرده:
                        <p class="analytic-text"></p>
                    </div>
                    <div class="analytic-box">
                        تعداد دانش آموزان ثبت نام کرده:
                        <p class="analytic-text"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{https://unpkg.com/swiper/swiper-bundle.js}"></script>
<script th:src="@{https://unpkg.com/swiper/swiper-bundle.min.js}"></script>
</body>
</html>