<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/style.css">
    <title>سامانه آنلاین آزمون یار</title>
</head>
<body>
    <div class="container-fluid p-0 m-0">
        <div class="signup-top-navigation low-brightness row d-flex justify-content-around p-3 m-0">
            <div class="">
                <h3>سامانه آنلاین</h3>
            </div>
            <div class="">
                <div id="teacher-signup" class="top-links-inner-container">
                    <img src="img/profile.svg"/>
                    &nbsp ثبت نام
                </div>
                <div id="student-signup" class="top-links-inner-container">
                    <img src="img/enter.svg"/>
                    &nbsp ورود
                </div>
            </div>
        </div>
        <div class="row p-0 m-0 slider-container d-flex justify-content-center">
            <div class="d-flex align-self-center">
                <div id="teacher-signup-container" class="p-5 signup-options-container">
                    <img class="sign-up-options-image" src="img/teacher.svg" alt="teacher"/>
                    <p class="text-center">استاد</p>
                </div>
                <div id="student-signup-container" class="p-5 signup-options-container">
                    <img class="sign-up-options-image" src="img/student.svg" alt="student"/>
                    <p class="text-center">دانش آموز</p>
                </div>
            </div>
        </div>
    </div>
<script src="js/script.js"></script>
</body>
</html>