<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/node_modules/bootstrap/dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{https://unpkg.com/swiper/swiper-bundle.css}"/>
    <link rel="stylesheet" th:href="@{https://unpkg.com/swiper/swiper-bundle.min.css}"/>
    <title>سامانه آنلاین آزمون یار</title>
</head>
<body>
<div class="container-fluid p-0 m-0">
    <div class="panel-top-navigation row d-flex justify-content-right p-3 m-0 shadow">
        <div class="">
            <p class="top-header-text p-0 m-0">سامانه آنلاین</p>
        </div>
    </div>
    <div class="row p-2 m-0">
        <div class="d-flex p-0 m-0">
            <div class="d-flex flex-column right-navigation rounded shadow">
                <div class="d-flex justify-content-center right-navigation-header p-2 rounded-top">
                    <div class="d-flex flex-column align-self-center justify-content-center">
                        <img class="right-navigation-header-profile-image rounded-circle"
                             th:src="@{https://robohash.org/4}"/>
                        <p class="right-navigation-header-text p-0 m-0 text-center">علی نجفی</p>
                    </div>
                </div>
                <div id="dashboard-navigation-button" class="right-navigation-list-container p-2">
                    <div class="right-navigation-list-inner-container d-flex justify-content-start p-2">
                        <img class="right-navigation-list-icons" th:src="@{/img/home.svg}">
                        داشبورد
                    </div>
                    <div id="teacher-navigation-button"
                         class="right-navigation-list-inner-container d-flex justify-content-start p-2">
                        <img class="right-navigation-list-icons" th:src="@{/img/teacher-vector.svg}">
                        اساتید
                    </div>
                    <div id="student-navigation-button"
                         class="right-navigation-list-inner-container d-flex justify-content-start p-2">
                        <img class="right-navigation-list-icons" th:src="@{/img/profile.svg}">
                        دانش آموزان
                    </div>
                    <div id="course-navigation-button"
                         class="right-navigation-list-inner-container list-end d-flex justify-content-start p-2">
                        <img class="right-navigation-list-icons" th:src="@{/img/book.svg}">
                        دروس
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column flex-grow-1 admin-panel-left-container rounded">
            <div class="d-flex course-form-inner-container shadow rounded">
                <form class="w-100" th:form th:action="'/teacher/course/quiz/'+ ${teacherId} + '/' + ${courseId}" method="post" th:object="${quiz}">
                    <div class="d-flex w-100 p-3">
                        <input placeholder="عنوان آزمون" class="form-input align-self-baseline" type="text" th:field="*{title}"/>
                        <input placeholder="توضیحات آزمون" class="form-input align-self-baseline" type="text" th:field="*{description}"/>
                        <input placeholder="زمان آزمون" class="form-input align-self-baseline" type="text" th:field="*{duration}"/>
                        <input class="signup-submit-button m-0 mr-5 align-self-baseline" type="submit" value="افزودن آزمون"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/admin-panel.js}"></script>
<script th:src="@{https://unpkg.com/swiper/swiper-bundle.js}"></script>
<script th:src="@{https://unpkg.com/swiper/swiper-bundle.min.js}"></script>
</body>
</html>